<h2>Your Cart</h2>

<ul>
  <% @cart.line_items.each do |product| %>
      <li><%= product.quantity %> &times; <%= product.item.title %>
          <%= button_to 'Delete Item', product , :method => :delete,  data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>
<p>Total <%= number_to_currency(@cart.total_price) %></p>
<%= button_to 'Empty Cart', @cart, :method => :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
