<div class="row">
  <div class="small-5 large-4 columns">
    <a href="#" data-reveal-id="mycheckout">
      <div class="panel callout radius">
        <h6 id="checkout" class="centered blink">
          <%= render partial: 'checkout_button' %>
        </h6>
      </div>
    </a>
  </div>
  <div class="large-2 small-3 large-offset-6 small-offset-4 columns">
    <%= render 'devise/menu/login_items' %>
  </div>
</div>
<!-- End Navigation -->

<div class="row">

  <!-- Side Bar -->

  <div class="large-4 small-12 columns">
    <img src="http://placehold.it/500x500&text=Logo">
  </div>

  <!-- End Side Bar -->
  <div class="large-8 small-12 columns synchH">
    <div class="row">
      <% @items.each do |item| %>
          <div class="large-4 small-6 columns">
            <a class="th radius" href="<%= item_path(item) %>">
              <img src="http://placehold.it/1000x1000&text=Thumbnail">
            </a>

            <div class="panel">
              <h5><%= link_to item.title, item_path(item) %></h5>
              <h6 class="subheader"><%= number_to_currency(item.price) %></h6>
              <%= button_to 'Add to Cart', line_items_path(:item_id => item), :class => 'button small radius', :remote => true %>
            </div>
          </div>
      <% end %>
      <div class="large-12 small-12 columns">
        <li><%= link_to 'New Item', new_item_path %></li>
        <ul class="inline-list right">
          <ul class="pagination">
            <%= will_paginate @orders %></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>

