<div class="row">
  <div class="small-3 large-3 columns">
    <a class="th radius" href="<%= item_path(line_item.item_id) %>">
      <img src="http://placehold.it/1000x1000&text=Thumbnail">
    </a>
  </div>
  <div class="row">
    <div class="item-margin">
      <% if line_item == @current_item %>
          <div class="large-4 small-8 large-offset-0 columns" id="current_item">
      <% else %>
          <div class="large-4 small-8 large-offset-0 columns">
      <% end %>
      <%= line_item.quantity %> &times; <%= link_to line_item.item.title, item_path(line_item.item_id) %>
      </div>
      <div class="large-1 small-1 column">
        <%= number_to_currency(line_item.quantity * line_item.item_price) %>
      </div>

      <div class="large-3 small-4 columns">
        <%= button_to 'Remove', line_item, :method => :delete, class: 'tiny button round', data: {confirm: 'Are you sure?'}, :remote => true %>
      </div>
    </div>
  </div>
</div>